.navbar-inverse {
  background-color: #FFA500;
  border-color: #FFA500; 
}
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #FFFFFF; 
  color: #000000; 
}
.dropdown-menu a {
  background-color: #FFFFFF;
  color: #000000;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
  color: #FFFFFF; 
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #FFFFFF;
  color: #FFA500;
}
.container h1{
  text-align: center;
  color: #FF8B05;
  border: none;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.cube-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  perspective: 500px;
}
.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(90deg) rotateY(90deg);
  animation: spinCube 10s infinite linear;
}
.face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 255, 0.3);
  border: 2px solid rgba(0, 255, 255, 0.6);
}
.front  { transform: translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }

@keyframes spinCube {
  from {
    transform: rotateX(45deg) rotateY(45deg);
  }
  to {
    transform: rotateX(405deg) rotateY(405deg);
  }
}
.intro1{
  text-align: center;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
.label{
  text-align: center;
}
